<div class="row marketing">
  <p class="bg-primary" ng-show="showScanningMessage" style="padding: 15px;"><i class="fa fa-refresh fa-spin"></i> Now scanning configured paths for Wordpress installations...</p>

  <p class="bg-success" ng-show="showScanCompleteMessage" style="padding: 15px;"><i class="fa fa-check"></i>
 Scan for Wordpress installations complete.</p>
  <div class="bg-danger" ng-show="showErrorMessage" style="padding: 15px;">
    <p>
      <i class="fa fa-exclamation-triangle"></i> The following errors occured:
    </p>
    <ul>
      <li ng-repeat="error in errors">{{error}}</li>
    </ul>
  </p>

</div>

<div ng-show="showScanResults" class="row marketing">
  <hr/>
  <div class="col-xs-12 col-sm-6">
    <h4>Installations found:</h4>
    <ul class="list-unstyled" style="padding-left: 15px; line-height: 2em">
      <li ng-repeat="(path, results) in installationsFound">
        <i class="fa fa-folder-open"></i> {{path}}
        <ul class="list-unstyled">
          <li ng-repeat="path in results" style="padding-left: 15px;">
            <i class="fa fa-wordpress"></i> {{path}}
          </li>
      </li>
    </ul>
  </div>
  <div class="col-xs-12 col-sm-6">
    <div class="panel panel-default">
      <div class="panel-heading">Scan Statistics:</div>
      <table class="table">
        <tr>
          <td><i class="fa fa-certificate"></i> New sites found</td>
          <td>--</td>
        </tr>
        <tr>
          <td><i class="fa fa-server"></i> Total sites found</td>
          <td>{{installCount}}</td>
        </tr>
        <tr>
          <td><i class="fa fa-clock-o"></i> Elapsed time</td>
          <td>{{scanTime}} seconds</td>
        </tr>
      </table>
    </div>
  </div>
  <div class="col-xs-12">
    <hr/>
    <p>
      <a href="#/" class="btn btn-success" role="button"><i class="fa fa-home"></i> Back to site list</a>
    </p>
  </div>
</div>
